section.education
    h2.section-main-title Education and Languages
    section.education--college
        p
            time 2013 - 2017
            - let collegeStatus = "In progress";
            |- Systems Information - Universidade de Ribeirão Preto (UNAERP) – #{collegeStatus}
    section.education--language
        p 
            b Portuguese 
            |- Native
        p 
            b English 
            |- Intermediate