section.objectives
    h2.section-main-title Objective
    p.objectives--description
        |Professional with more than 2 years of experience in IT. Performance front-end developer duties such as development of scripts based in JavaScript and development of web sites and API, looking for an opportunity to put in practice my knowledge, developing myself and bringing value to the company.
    p.objectives--description
        |Main experiences developing projects related to subjects learned in the university and also private projects, in order to solve problems in the day-by-day bases applying the technologies studied at that moment. 