.education--language .education,.education--language .language{
    padding: .4rem 0;
}

.extra-course__title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.course .course-title,
.course .course-workload,
.extra-courses__organization {
    display: inline;
    margin: 0;
}


.course-organization {
    margin-bottom: 0;
}

.extra-courses__list{
    margin-top: 0;
}
