.education--language .education,.education--language .language{
    padding: .4rem 0;
}
.education p{
    margin: .2rem 0;
}
.education .college p time {
    font-weight: bold;
    font-size: .9rem;
}

.extra-course__title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.course .course-title,
.course .course-workload,
.extra-courses__organization {
    display: inline;
    margin: 0;
}

.course .course-workload::before {
    content: ' - '
}
.course-organization {
    margin-bottom: 0;
}

.extra-courses__list{
    margin-top: 0;
}