

section.education
    h2.section-main-title Education and Languages
    section.education--language
        section.education
            div.college
                p
                    time(datetime="2013-08-01") May'17 - 
                    time(datetime="2018-08-01") Actual 
                    |- Full Stack Web Development Certification, Computer Software Engineering - freeCodeCamp
            div.college
                p
                    time(datetime="2013-08-01") Ago'13 - 
                    time(datetime="2018-08-01") Jan'17 
                    |- Systems Information - Universidade de Ribeirão Preto (UNAERP)
        section.language
            p 
                b Portuguese 
                |- Native
            p 
                b English 
                |- Proficient
    section.extra-courses
        h3.extra-course__title Extra Courses
        h4.extra-courses__organization Alura Online Courses (Mooc Platform)
        ul.extra-courses__list
            li.course
                p.course-title Regular Expressions: Catching texts magiclly
                p.course-workload 12 hours
            li.course
                p.course-title NodeJS: Writting a RESTful API
                p.course-workload 16 hours
            li.course
                p.course-title React: Reusable Components For Your Webapp
                p.course-workload 10 hours
            li.course
                p.course-title React: Container Components and Life Cycle
                p.course-workload 10 hours
            li.course
                p.course-title NodeJS: Back-end with Javascript
                p.course-workload 16 hours
            li.course
                p.course-title JavaScript Advanced I,II and III: ES6, object oriented and patterns
                p.course-workload 36 hours
            li.course
                p.course-title HTTP: Understanding the web under the table
                p.course-workload 10 Hours
