- let collegeStatus = "In progress (expected: ago/2018)";

section.education
    h2.section-main-title Education and Languages
    section.education--college
        p
            time(datetime="2013-08-01") 2013 - 
            time(datetime="2018-08-01") 2018
            |- Systems Information - Universidade de Ribeirão Preto (UNAERP) – #{collegeStatus}
    section.education--language
        p 
            b Portuguese
            |- Native
        p 
            b English 
            |- Upper Intermediate
    section.education__extra-courses
        h3.extra-courser__title Extra Courses
        ul.courses-list
            li.course
                p.course-title Regular Expressions: Catching texts magiclly
                p.course-workload 12 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title NodeJS: Writting a RESTful API
                p.course-workload 16 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title React: Reusable Components For Your Webapp
                p.course-workload 10 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title React: Container Components and Life Cycle
                p.course-workload 10 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title NodeJS: Back-end with Javascript
                p.course-workload 16 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title JavaScript Advanced I,II and III: ES6, object oriented and patterns
                p.course-workload 36 hours
                p.course-organization Alura Online Courses
            li.course
                p.course-title HTTP: Understanding the web under the table
                p.course-workload 10 Hours
                p.course-organization Alura Online Courses
