section.jobs
    section.formal-experiences
        h2.section-main-title Experiences
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Freelancer
                p.jobs--job--duration 2014 - current
            p.jobs--job--position Full-Stack developer
            p.jobs--job--description
                |Perform as back-end and front-end developer, cope with all problems and facing all the challenges that were proposed in class, also applying that in real open-source projects using new technologies those which can be consulted in a personal profile on Github.
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Senior Systems
                p.jobs--job--duration 2014 - 2016
            p.jobs--job--position Technical Support Analyst
            p.jobs--job--description
                |Customer service, answering queries about business and systems rules, reading and debugging the PL/SQL and Java routines, in order to determine mistakes reported through tickets. Responsible for analysis and implementation of projects and business internal process.

    section.others-experiences
        h2.section-main-title Other Experiences
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Point Control
                p.jobs--job--duration mar/2017
            p.jobs--job--description
                |When this project was create, the control of registers points (entry and exit) of work were done in an Excel sheet. So, I decided to create a web application to make this controll and study deep the pratices with Javascript.
            p.jobs--job--description
                |In the first version of this project, It was create from scratch a Javascript Framework, using vanilla JS (ES6 features), Babel to transpile, System JS to use modules and import dynamically, Materialize CSS as a CSS framework and Firebase.
            p.jobs--job--description
                |Then, was decided migrate to React to undestand better how it's work and make easy the maintenance. To help the initial configuration, it was used the lib create-react-app from Facebook who provides a completely configuration using it. The CSS framework was changed to SemanticUI React and maintained the Firebase who takes the Auth and Database. More information about this project in 
                a(href="https://github.com/raulfdm/controle-ponto-react") https://github.com/raulfdm/controle-ponto-react
                
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Tibia Character - Rest API
                p.jobs--job--duration fev/2017
            p.jobs--job--description
                |This project was built to make easy the consult of informations about characters on Tibia (MMORPG). So, a POST method is send to API with a character name in body content, it take this name and make a GET on Tibia website, handle all the HTML and return the important data from it.
            p.jobs--job--description
                |The API was built using NodeJS + ExpressJS and deployed on Heroku. You can consult the documentation and more details about this project on 
                a(href="https://github.com/raulfdm/taco-api") https://github.com/raulfdm/taco-api

        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company TACO - Rest API
                p.jobs--job--duration jan/2017
            p.jobs--job--description
                |The main goal of this project is create a Restful API to be consumed from some client-side or service and makes easier to consult all the informations about the Brazilian Food Composition Table made by UNICAMP.
            p.jobs--job--description
                |The API was built using NodeJS + ExpressJS and MongoDB and deployed on Heroku. You can consult the documentation on 
                a(href="https://github.com/raulfdm/taco-api") https://github.com/raulfdm/taco-api
