section.jobs
    section.formal-experiences
        h2.section-main-title Career History
        section.job
            div.job__infos
                p.info__company Senior Systems
                p.info__duration 2014 - 2016
            p.job__position Technical Support Analyst
            p.job__description
                |Customer service, answering questions about business rules and systems logic, reading and debugging PL/SQL and Java routines, in order to keep the customer environment health and find bugs reporting them internally through tickets. Responsible for analysis and implementation of projects and business internal process.

    section.others-experiences
        h2.section-main-title Projects
        section.job
            div.job__infos
                p.info__company Point Control
                p.info__duration mar/2017
            p.job__description
                |When this project was create, the focus was to improve the employees' time control because it was done in Excel sheets. So, I decided to create a web application to make this control and study deep the good practices with Javascript.
            p.job__description
                |In the first version of this project, an entire Javascript Framework was created from scratch, using vanilla JS (ES6 features), Babel to transpile the code, System JS to management dynamically modules and imports, Materialize CSS as a CSS framework and Firebase.
            p.job__description
                |Then, was decided to migrate to React in order to create a better understanding at how it works and make maintenance easier. To help the initial configuration, it was used create-react-app, a lib powered by Facebook, which provides an entire application bootstrap, saving a lot of time. The CSS framework was changed to SemanticUI React and maintained the Firebase, that was used to control authentication and data storage. More information about this project in 
                a(href="https://github.com/raulfdm/controle-ponto-react") https://github.com/raulfdm/controle-ponto-react
                
        section.job
            div.job__infos
                p.info__company Tibia Character - Rest API
                p.info__duration fev/2017
            p.job__description
                |This project was built in order to make easy to retrieve information about characters on Tibia (MMORPG). So, a POST method is send to the API with a character name in body content, which is used to make a data scraping and return the important data from it.
            p.job__description
                |The API was built using NodeJS + ExpressJS and deployed on Heroku. You can consult the documentation and get more details about this project on 
                a(href="https://github.com/raulfdm/taco-api") https://github.com/raulfdm/taco-api

        section.job
            div.job__infos
                p.info__company TACO - Rest API
                p.info__duration jan/2017
            p.job__description
                |The main goal of this project was to create a Restful API to be consumed from some client-side or service and to make easier to access all the information about the Brazilian Food Composition Table made by UNICAMP.
            p.job__description
                |The API was built using NodeJS + ExpressJS and MongoDB and deployed on Heroku. You can consult the documentation on 
                a(href="https://github.com/raulfdm/taco-api") https://github.com/raulfdm/taco-api
