section.jobs
    section.formal-experiences
        h2.section-main-title Experiences
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Freelancer
                p.jobs--job--duration 2014 - current
            p.jobs--job--position Full-Stack developer
            p.jobs--job--description
                |Perform as back-end and front-end developer, cope with all problems and facing all the challenges that were proposed in class, also applying that in real open-source projects using new technologies those which can be consulted in a personal profile on Github.
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Senior Systems
                p.jobs--job--duration 2014 - 2016
            p.jobs--job--position Technical Support Analyst
            p.jobs--job--description
                |Customer service, answering queries about business and systems rules, reading and debugging the PL/SQL and Java routines, in order to determine mistakes reported through tickets. Responsible for analysis and implementation of projects and business internal process.
    section.others-experiences
        h2.section-main-title Other Experiences
        section.jobs--job
            div.jobs--job--infos-container
                p.jobs--job--company Point Control
                p.jobs--job--duration dez/2016
            p.jobs--job--description
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis provident maiores, reprehenderit ipsum ipsa dolorum libero sapiente iste repellat recusandae vero nesciunt, obcaecati amet autem possimus placeat quo, adipisci?