section.interest
    h2.section-main-title Interest
    ul
        li Learning interesting things about everything
        li Coding 4fun
        li Coffee <3
        li Dancing
        li Working out
        li Health Life