section.objectives
    h2.section-main-title Objective
    p.objectives--description
        |Developer with more than 2 years of experience with Software Development looking for a Front-end Developer position. Perform front-end developer tasks such as creating layouts with css frameworks or from scratch, always based on UI/UX good practices. Configure tasks to automate all process and deploy to production. Development of RESTful API's  using NodeJS and data persistence with mongodb and firebase.
    p.objectives--description
        |Experiences in developing projects related to subjects learned in the university, contributing to open-source projects and personal projects in order to solve daily problems applying the new technologies studied. 