section.objectives
    h2.section-main-title Objective
    p.objectives--description
        |Professional with more than 2 years of experience with Sofware Development looking for a Front-end Developer position. Perform front-end developer tasks such as creating layouts with css frameworks or from scratch, always based on UI/UX good pratictices. Configurate tasks to automate all process and deploy to production. Development of API's RestFull using Nodejs and persistence data with mongodb and firebase.
    p.objectives--description
        |Experiences developing projects related to subjects learned in the university, contributing on open-source projects and personal projects in order to solve problems in the day-by-day bases applying the new technologies studied. 