section.skills
    h2.section-main-title Skills

    section.skill-group
        h3.skill-group__title Database
        ul
            li NoSQL (MongoDB)
            li SQL Oracle

    section.skill-group
        h3.skill-group__title Frameworks and Libs
        ul
            li Bootstrap 3
            li Materialize CSS
            li SASS
            li Semantic UI
            li React

    section.skill-group
        h3.skill-group__title Languages
        ul
            li CSS
            li HTML        
            li Javascript (ES6)
            li REGEX 

    section.skill-group
        h3.skill-group__title Patterns and Principles
        ul
            li MVC
            li Object Oriented (OOP)
            li RESTful

    section.skill-group
        h3.skill-group__title System Operation
        ul
            li Windows
            li Linux

        ul 
            li NodeJS

    section.skill-group
        h3.skill-group__title Tools
        ul
            li Git
            li Gulp
            li Photoshop CS6
            li SVN

