section.skills
    h2.section-main-title Technical Skills

    section.skill-group
        h3.skill-title Back-end Technologies
        ul.skill-list
            li NodeJS

    section.skill-group
        h3.skill-title Database
        ul.skill-list
            li NoSQL (MongoDB)
            li SQL Oracle

    section.skill-group
        h3.skill-title Frameworks and Libs
        ul.skill-list
            li Bootstrap 3
            li Materialize CSS
            li SASS
            li Semantic UI
            li React

    section.skill-group
        h3.skill-title Languages
        ul.skill-list
            li CSS
            li HTML        
            li Javascript (ES6)
            li REGEX 

    section.skill-group
        h3.skill-title Patterns and Principles
        ul.skill-list
            li MVC
            li Object Oriented (OOP)
            li RESTful

    section.skill-group
        h3.skill-title Operation System
        ul.skill-list
            li Windows
            li Linux

    section.skill-group
        h3.skill-title Tools
        ul.skill-list
            li Git
            li Gulp
            li Photoshop CS6
            li SVN

