section.skills
    h2.section-main-title Skills
    ul.skills--skill-list
        li Javascript (ES6)
        li NodeJS
        li HTML
        li CSS
        li SASS
        li Gulp
        li React
        li Bootstrap 3
        li Regular Expression
        li SQL Oracle
        li NoSQL
        li GIT
        li SVN
        li MVC Pattern
        li Object Oriented Pattern
        li RESTFull
        li Linux
        li Photoshop CS6
        li MS Office