- let name = "Raul Felipe de Melo";
- let cellphone = "+353 83 871 3722"
- let address = "32, North Circular Road, Flat 2, Dublin 7, Ireland"
- let email = "melo.raulf@gmail.com"

html
    head
        title #{name}
        link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet")
        link(href="index.min.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        block analytics

        block content

    script(src="index.min.js")