section.jobs
    h2.section-main-title Work Experience
    section.job
        div.job__infos
            p.info__company Bartenders RP
            p.info__duration Jan. 2013 – Dec. 2014
        p.job__position Bartender
        p.job__description
            |Prepare alcoholic/non-alcohol beverages for bar and restaurant patrons. Interact with customers, take orders and serve snacks and drinks. Assess customers' needs and preferences and make recommendations. Full knowledge of mixes, spirits and cocktails.

    section.job
        div.job__infos
            p.info__company Flair Bartenders
            p.info__duration Jan. 2012 – Dec. 2013
        p.job__position Bartender
        p.job__description
            |Mixing ingredients to prepare cocktails, planning and presenting bar menu restocking and replenishing bar inventory and supplies.

    section.job
        div.job__infos
            p.info__company DL Events
            p.info__duration Mar. 2011 – Dec. 2011
        p.job__position Waiter
        p.job__description
            |Greeting customers upon arrival, presenting menus and answering questions, serving tables in an appropriate and timely manner. 

    section.job
        div.job__infos
            p.info__company Certa Refeições
            p.info__duration Dec. 2010 – Jan. 2011
        p.job__position Kitchen Porter/Assistant
        p.job__description
            |Performing kitchen duties such as washing dishes, utensils and assisting Cheff when needed.