section.objectives
    h2.section-main-title Objective
    p.objectives--description
        |An experienced and hard-working professional looking for an opportunity to work as a bartender, bar back, floor staff or relative areas. Available to work part-time, Monday to Friday mornings and nights and Weekends all day.