section.education
    h2.section-main-title Education and Languages
    section.education--college
        p
            time(datetime="2013-08-01") 2013 - 
            time(datetime="2017-12-01") 2017
            - let collegeStatus = "In progress";
            |- Systems Information - Universidade de Ribeirão Preto (UNAERP) – #{collegeStatus} 