section.jobs
    h2.section-main-title Work Experience
    section.jobs--job
        p.jobs--job--position Bartender
        div.jobs--job--infos-container
            p.jobs--job--company Bartenders RP – Ribeirão Preto - SP, Brazil.
            p.jobs--job--duration Jan. 2013 – Dec. 2014
        p.jobs--job--description
            |Prepare alcohol or non-alcohol beverages for bar and restaurant patrons. Interacting with customers, take orders and serve snacks and drinks. Assessing customers' needs and preferences and make recommendations. Full knowledge of mixes, spirits and cocktails.

    section.jobs--job
        p.jobs--job--position Bartender
        div.jobs--job--infos-container
            p.jobs--job--company Flair Bartenders – Ribeirão Preto - SP, Brazil.
            p.jobs--job--duration Jan. 2012 – Dec. 2013
        p.jobs--job--description
            |Mixing ingredients to prepare cocktails, planning and presenting bar menu restocking and replenishing bar inventory and supplies.

    section.jobs--job
        p.jobs--job--position Waiter
        div.jobs--job--infos-container
            p.jobs--job--company DL Events – Ribeirão Preto - SP, Brazil.
            p.jobs--job--duration Mar. 2011 – Dec. 2011
        p.jobs--job--description
            |Greeting customers who arrives, presenting menus and answering questions about it, serving tables in an appropriated and timely manner. 

    section.jobs--job
        p.jobs--job--position Drink Runner
        div.jobs--job--infos-container
            p.jobs--job--company DL Events – Ribeirão Preto - SP, Brazil.
            p.jobs--job--duration Mar. 2011 – Dec. 2011
        p.jobs--job--description
            |Delivering drinks to tables, and taking orders for drinks from customers.