section.skills
    h2.section-main-title Skills and Interests
    section.education--language
        p 
            b Languages: 
            |Portuguese (Native) and English (Intermediate)
        p 
            b Personal:  
            |Adaptable, organized, quick learner, determined, proactive and responsible.
        p
            b Computer skills: 
            |Microsoft Office and Internet.