- let cellphone = "+353 83 871 3722"
- let address = "32, North Circular Road, Flat 2, Dublin 7, Ireland"
- let email = "melo.raulf@gmail.com"

doctype html
html(lang='en')
    head


        //- SEO
        block meta-seo

        //- Imports CSS
        link(href="https://fonts.googleapis.com/css?family=Dosis|Raleway|Lora" rel="stylesheet")
        link(href="index.min.css" rel="stylesheet")
        block styles

        //-- Imports JS
        block scripts-header
    body
        //
            [if lt IE 9]<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>[endif]
        
        block analytics

        block content

    script(src="index.min.js")