extends ./template/default.pug

block meta-seo
    meta(name="description" content="Front-end Developer with over 2 years of experience. Perform front-end developer tasks such as creating websites or web applications...")

block scripts-header
    script(type="application/json")
        include ./js/json-d.index.json
        

block analytics
    script
        include analytics/it.js

block content 
    include ./includes/index/general-infos.pug
    include ./includes/index/objective.pug
    include ./includes/index/skills.pug
    include ./includes/index/experiences.pug
    include ./includes/index/education.pug
    include ./includes/index/interesting.pug