.jobs--job {
    --margin: 1rem;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.jobs .jobs--job--position {
    font-size: 1.2rem;
    font-style: italic;
}

.jobs--job--infos-container {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.jobs--job--infos-container>p {
    margin: 0.5rem 0;
}

.jobs--job--infos-container .jobs--job--duration {
    font-size: 1.1rem;
    margin-left: 2rem;
}

.others-experiences {
    page-break-inside: avoid
}