.job {
    --margin: 1rem;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.job__infos {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.job__infos>p {
    margin: 0.5rem 0;
}

.info__company>.info__where {
    font-size: 1.1rem;
}

.info__company>.info__where::before {
    content: " ";
}

.job .info__duration {
    font-size: 1.1rem;
    margin-left: 2rem;
}

.job__position {
    font-size: 1.2rem;
    font-style: italic;
}

.others-experiences {
    page-break-inside: auto
}

@media (min-width: 780px) {
    .job__infos {
        justify-content: flex-start;
    }
}