.general-infos .general-infos--name {
    font-size: 2.5rem;
}

.general-infos {
    text-align: center;
}

.general-infos .general-infos--links a {
    display: inline-block;
}

.general-infos .general-infos--cellphone {
    color: black;
    text-decoration: none;
}

section .section-main-title {
    font-size: 1.8rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #cdcdcd;
}

@media (max-width: 600px) {
    .general-infos .general-infos--name {
        font-size: 2.2rem;
    }
    section .section-main-title {
        font-size: 1.4rem;
    }
}

@media print {
    .general-infos a {
        color: black;
        font-style: none;
        text-decoration: none;
    }
}