@media (max-width: 600px){

/*General Styles*/
body{
    max-width: 95%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 601px){

/*General Styles*/
body{
    max-width: 90%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 798px){

/*General Styles*/
body{
    max-width: 90%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 960px){

/*General Styles*/
body{
    max-width: 80%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}