@media (max-width: 600px){

/*General Styles*/
body{
    max-width: 95%;
}
/************************************************/

/*General Infos*/
.general-infos .general-infos--name {
    font-size: 2.2rem;
}
section .section-main-title {
    font-size: 1.4rem;
}
/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 601px){

/*General Styles*/
body{
    max-width: 90%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 798px){

/*General Styles*/
body{
    max-width: 90%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}

@media (min-width: 960px){

/*General Styles*/
body{
    max-width: 80%;
}
/************************************************/

/*General Infos*/

/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}