@media print{

/*General Styles*/
body{
    max-width: 100%;
}
/************************************************/

/*General Infos*/
.general-infos a{
    color: black;
    font-style: none;
    text-decoration: none;
}
/************************************************/

/*Objective*/

/************************************************/

/*Experiences*/

/************************************************/

/*Education and Languages*/

/************************************************/

/*Education and Languages*/

/************************************************/

}