.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-main-title {
    width: 100%;
}

.skills--skill-list {
    padding: 0;
}

.skill-group {
    width: 40%;
}


/*
.skills--skill-list li {
    display: inline;
}

.skills--skill-list li:not(:last-child)::after {
    content: ", "
}
*/

@media (min-width: 601px) {
    .skills {
        justify-content: space-between;
    }
    .skill-group {
        width: 30%;
    }
}