.skill-group {
    padding: .2rem 0;
}

.skill-title {
    margin: 0;
}

.skill-title::after {
    content: ":"
}
.skill-list{
    display: inline;
}

.skill-title,
.skill-list li {
    display: inline-block;
}

.skill-list {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
    list-style: none;
}

.skill-list li:not(:last-child)::after {
    content: ", "
}

@media (min-width: 601px) {
    .skills {
        justify-content: space-between;
    }
    .skill-group {
        /*width: 30%;*/
    }
}