- let name = "Raul Felipe de Melo";
html
    head
        title #{name}
        link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet")
        link(href="index.min.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        script
            include analytics/it.js

    include ./includes/index/infos.pug
    include ./includes/index/objective.pug
    include ./includes/index/experiences.pug
    include ./includes/index/education.pug
    include ./includes/index/skills.pug

    script(src="index.min.js")