extends ./template/default.pug

block analytics
    script
        include analytics/it.js

block content 
    include ./includes/index/general-infos.pug
    include ./includes/index/objective.pug
    include ./includes/index/education.pug
    include ./includes/index/skills.pug
    include ./includes/index/experiences.pug
    include ./includes/index/interesting.pug