extends ./template/default.pug

block styles
    style
        |p{margin: 0;}
        |body>section{--margins:0}
        |.job__infos>p{margin: 0;}
        |@media print {@page {margin-bottom:.5cm;margin-top:.7cm;}}

block analytics
    script
        include analytics/staff.js

block content
    include ./includes/staff/infos.pug
    include ./includes/staff/objective.pug
    include ./includes/staff/experiences.pug
    include ./includes/staff/education.pug
    include ./includes/staff/skills.pug
