extends ./template/default.pug

block analytics
    script
        include analytics/staff.js

block content
    include ./includes/staff/infos.pug
    include ./includes/staff/objective.pug
    include ./includes/staff/experiences.pug
    include ./includes/staff/education.pug
    include ./includes/staff/skills.pug
